{% extends "myhome_base.html" %}

{% load seahub_tags avatar_tags i18n upload_tags %}

{% block sub_title %}{{repo.name}} - {% endblock %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/select2.css?t=1393578720" />
<style type="text/css">
#footer { display:none; }
{% if repo.encrypted and repo.enc_version == 2 and not server_crypto %}
#main { display:none; }
{% endif %}
.repo-file-list-topbar .path { line-height:29px; }
#repo-latest-commit { margin:-5px 0 10px; }
.repo-op { margin-bottom:0; }
.repo-op .op-btn { padding:5px 8px; }
.dirent-op .download { margin-right:5px; }
.repo-file-list .dirent-name {
    width:350px;
}
.repo-file-list .dirent-size {
    width:135px;
}
.repo-file-list .dirent-update {
    width:142px;
}
.repo-file-list .dirent-op {
    width:200px;
}
</style>    
<!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
<!--[if lt IE 9]><script src="{{ MEDIA_URL}}js/html5shiv.js"></script><![endif]-->
{% endblock %}

{% block main_panel %}
    <div id="repo-top">
        <h2 class="hd">{{repo.props.name}}{% if user_perm == 'r' %} <span class="tip vam">({% trans "Read-Only" %})</span>{% endif %}</h2>
            <div id="repo-basic-info">
                <span class="desc" title="{{repo.props.desc}}">{{ repo.props.desc|truncatechars:25 }}</span>
                <span class="size split">{% trans 'Size: ' %}{{ repo_size|filesizeformat }}</span>
                <span class="split">
                    {% if show_repo_download_button %}
                    <a href="{{ SITE_ROOT }}seafile_access_check/?repo_id={{repo.props.id}}" target="_blank">{% trans "Download" %}</a>
                    {% endif %}
                    <a href="{% url 'seahub.views.repo_history' repo.id %}" class="normal"><img class="link-icon vam" src="{{ MEDIA_URL }}img/history.png" alt="" height="16" /><span class="vam">{% trans "History"%}</span></a>
                    {% if show_repo_settings %}
                    <a id="repo-setting-btn" href="{% url 'repo_settings' repo.id %}" class="normal"><img class="link-icon vam" src="{{ MEDIA_URL }}img/setting.png" alt="" /><span class="vam">{% trans "Settings" %}</span></a>
                    {% endif %}
                    {% if user_perm == 'rw' %}
                    <a id="recycle-btn" href="{% url 'repo_recycle_view' repo.id %}" class="normal"><img class="link-icon vam" src="{{ MEDIA_URL }}img/lib_trash.png" alt="" /><span class="vam">{% trans "Trash"%}</span></a>
                    {% endif %}
                </span>
            </div>
    </div>

    {% if repo.enc_version == 2 and not server_crypto and repo.encrypted %}
    <div id="repo-file-list"></div>
    {% else %}
    <div id="repo-file-list">
        <div class="repo-file-list-topbar ovhd"></div>
        <table class="repo-file-list">
            <tr>
                <th class="select">
                    <span class="checkbox"><input type="checkbox" class="checkbox-orig" /></span>
                </th>
                <th class="star"></th>
                <th class="dirent-icon"></th>
                <th><span class="dirent-name">{% trans "Name"%} <span id="name-down" class="icon-caret-up cspt"></span> <span id="name-up" class="icon-caret-down cspt hide"></span></span></th>
                <th class="dirent-size">{% trans "Size"%}</th>
                <th class="dirent-update">{% trans "Last Update" %} <span id="time-up" class="icon-caret-up cspt hide"></span> <span id="time-down" class="icon-caret-down cspt"></span></th>
                <th class="dirent-op">{% trans "Operations"%}</th>
            </tr>
        </table>
        <img class="loading-tip" src="{{MEDIA_URL}}img/loading-icon.gif" alt="{% trans 'Loading...' %}" />
    </div>
    {% endif %}

    {# popups starts #}
    <div id="upload-file-dialog" class="hide">
        <h3>{% trans "Upload Files" %}</h3>
        {% if no_quota %}
        <p class="error">{% trans "The owner of this library has run out of space." %}</p>
        {% else %}
        <form id="upload-file-form" enctype="multipart/form-data" method="post" action="">{% csrf_token %}
            {% if repo.enc_version == 2 and not server_crypto and repo.encrypted %}
            <input type="file" name="file" /><br />
            <p class="error hide">{% trans "Please select a file at first." %}</p>
            <input type="button" value="{% trans "Submit" %}" />
            {% else %}
            <input type="hidden" name="parent_dir" value="" />
            <div class="row fileupload-buttonbar">
                <div>
                    <span class="fileinput-button vam">
                        <span class="icon-plus"></span>
                        <span>{% trans "Add Files" %}</span>
                        <input type="file" name="file" multiple />
                    </span>
                    <button type="submit" class="start vam">
                        <span class="icon-upload"></span>
                        <span>{% trans "Start All" %}</span>
                    </button>
                    <button type="reset" class="cancel vam">
                        <span class="icon-ban-circle"></span>
                        <span>{% trans "Cancel All" %}</span>
                    </button>
                </div>
                <ol class="tip">
                    <li>{% trans "Drag & Drop is supported for Chrome, Safari 5.0+, Firefox 4.0+, IE 10.0+" %}</li>
                    {% if max_upload_file_size %}
                    <li>{% blocktrans with max_file_size=max_upload_file_size|filesizeformat %}File size should be smaller than {{ max_file_size }}{% endblocktrans %}</li>
                    {% endif %}
                </ol>
                <div class="fileupload-progress fade">
                    <div class="progress progress-success progres-striped active">
                        <div class="bar" style="width:0%"></div>
                    </div>
                    <div class="progress-extended"></div>
                </div>
                <p class="saving-tip alc hide"><img src="{{MEDIA_URL}}img/loading-icon.gif" alt="" style="margin-right:5px;" class="vam" />{% trans "Saving..." %}</p>
            </div>
            <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
           {% endif %}
        </form>
        {% endif %}
    </div>

    {% include "snippets/file_share_popup.html" %} {# dir/file share popup #}

    {% if repo.enc_version == 2 and not server_crypto and repo.encrypted %}
    <form id="repo-decrypt-form" class="wide-panel hide">
        <p>{% trans "This library is encrypted. Please input the password if you want to browse it online. And the password will be kept in the browser for only 1 hour." %}</p>
        <label>{% trans "Password: " %}</label>
        <input type="password" name="password" autofocus />
        <input type="submit" value="{% trans "Submit" %}" />
        <p class="error hide"></p>
        {% url 'edit_profile' as profile_edit_url %}
        <p class="tip" style="margin-top:3em;">{% blocktrans %}You can change how to view encrypted libraries online <a class="normal" href="{{ profile_edit_url }}#enc-lib-setting">here</a>.{% endblocktrans %}</p>
    </form>
{% endif %}

{% endblock %}

{% block extra_script %}
<script type="text/template" id="top-template">
    <p class="path fleft">
        <a href="{{ SITE_ROOT }}lib/{{ repo.id }}/contents/" class="path-link normal">{{ repo.name }}</a> /
        <% for (var i = 0,len = path_list.length; i < len; i++) { %>
            <% if (i == len - 1) { %>
                <% print(path_list[i] + ' /'); %>
            <% } else { %>
                <% mid_path = path_list.slice(0, i+1).join('/'); %>
                <a href="{{ SITE_ROOT }}lib/{{ repo.id }}/contents/<%= mid_path %>/" class="path-link normal"><%= mid_path %></a> /
            <% } %>
        <% } %>
    </p>

    <div class="repo-op fright">
        {% if user_perm == 'rw' %}
        <button id="upload-file" class="op-btn">{% trans "Upload"%}</button>
        <button id="add-new-dir" class="op-btn">{% trans "New Directory"%}</button>
        {% if repo.encrypted and repo.enc_version == 2 and not server_crypto %}
        {% else %}
        <button id="add-new-file" class="op-btn">{% trans "New File"%}</button>
        {% endif %}
        {% endif %}

        <% if (path != '/') { %>
        {% if not repo.encrypted %}
        <button class="op-btn" id="share-cur-dir">{% trans "Share" %}</button>
        {% endif %}
        <% } %>
    </div>
</script>
<script type="text/template" id="dirent-template">
    <% if (dirent.is_dir) { %>
            <td class="select">
                <span class="checkbox"><input type="checkbox" class="checkbox-orig" /></span>
            </td>
            <td class="star"></td>
            <td class="dirent-icon"><img src="{{ MEDIA_URL }}img/folder-icon-24.png" alt="{% trans "Directory icon" %}" /></td>
            <td>
                <span class="dirent-name"><a href="<%= dirent.view_link %>" class="dir-link normal"><%= dirent.obj_name %></a></span>
            </td>
            <td class="dirent-size"></td>
            <td class="dirent-update">
                <% if (dirent.last_modified) { %>
                    <% print(dirent.last_update); %>
                    <% } else { %>
                    <% print("{% trans "Fetch failed" %}"); %>
                    <% } %>
            </td>
            <td class="dirent-op">
                <div class="repo-file-op vh">
                    <div class="displayed-op">
                        <a class="op download" href="<%= dirent.dl_link %>" title="{% trans "Download" %}"><img src="{{MEDIA_URL}}img/download.png" alt="" /></a>
                        {% if not repo.encrypted %}
                        <a class="op share" href="#" data-link="<%= dirent.sharelink %>" data-token="<%= dirent.sharetoken %>" data-upload-link="<%= dirent.uploadlink %>" data-upload-token="<%= dirent.uploadtoken %>" title="{% trans "Share" %}"><img src="{{MEDIA_URL}}img/dirent_share.png" alt="" /></a>
                        {% endif %}
                    </div>
                    {% if user_perm == 'rw' %}
                    <img src="{{ MEDIA_URL }}img/dropdown-arrow.png" title="{% trans "More operations" %}" alt="{% trans "More operations" %}" class="more-op-icon cspt" />
                    <ul class="hidden-op hide">
                        <li><a class="op dir-del" href="#">{% trans "Delete" %}</a></li>
                        <li><a class="op dir-rename" href="#">{% trans "Rename" %}</a></li>
                        <li><a class="op dir-mv" href="#">{% trans "Move" %}</a></li>
                        <li><a class="op dir-cp" href="#">{% trans "Copy" %}</a></li>
                    </ul>
                    {% endif %}
                </div>
            </td>
    <% } else { %>
            <td class="select">
                <span class="checkbox"><input type="checkbox" class="checkbox-orig" /></span>
            </td>
            <td class="star alc">
                <% if (dirent.starred) { %>
                    <span title="{% trans "starred" %}" class="icon-star file-star" data-status="starred"></span>
                    <% } else { %>
                    <span title="{% trans "unstarred" %}" class="icon-star-empty file-star" data-status="unstarred"></span>
                    <% } %>
            </td>
            <td class="dirent-icon"><img src="{{ MEDIA_URL }}img/file/<%= dirent.file_icon %>" alt="{% trans "File" %}" /></td>
            <td>
                {% if repo.encrypted and repo.enc_version == 2 and not server_crypto %}
                <span class="dirent-name"><%= dirent.obj_name %></span>
                {% else %}
                <span class="dirent-name"><a class="normal" href="{{SITE_ROOT}}repo/{{repo.id}}/files/?p=<% print(e(path + dirent.obj_name)); %>" target="_blank"><%= dirent.obj_name %></a></span>
                {% endif %}
            </td>
            <td class="dirent-size"><%= dirent.file_size %></td>
            <td class="dirent-update">
                <% if (dirent.last_modified) { %>
                    <% print(dirent.last_update); %>
                    <% } else { %>
                    <% print("{% trans "Fetch failed" %}"); %>
                    <% } %>
            </td>
            <td class="dirent-op">
                <div class="repo-file-op vh">
                    <div class="displayed-op">
                        <a class="op download" href="{{SITE_ROOT}}repo/{{repo.id}}/<%= dirent.obj_id %>/?file_name=<% print(e(dirent.obj_name)); %>&op=download" title="{% trans "Download" %}"><img src="{{MEDIA_URL}}img/download.png" alt="" /></a>
                        {% if not repo.encrypted %}
                        <a class="op share" href="#" data-link="<%= dirent.sharelink %>" data-token="<%= dirent.sharetoken %>" title="{% trans "Share" %}"><img src="{{MEDIA_URL}}img/dirent_share.png" alt="" /></a>
                        {% endif %}
                    </div>
                    {% if user_perm == 'rw' %}
                    <img src="{{ MEDIA_URL }}img/dropdown-arrow.png" title="{% trans "More Operations"%}" alt="{% trans "More Operations"%}" class="more-op-icon cspt" />
                    <ul class="hidden-op hide">
                        <li><a class="op file-del" href="#">{% trans "Delete" %}</a></li>
                        <li><a class="op file-rename" href="#">{% trans "Rename" %}</a></li>
                        <li><a class="op file-mv" href="#">{% trans "Move" %}</a></li>
                        <li><a class="op file-cp" href="#">{% trans "Copy" %}</a></li>
                        <li><a class="op file-update" href="#">{% trans "Update"%}</a></li>
                        <li><a class="op file-history" href="{% url 'file_revisions' repo.id %}?p=<% print(e(path+dirent.obj_name)); %>" target="_blank">{% trans "History" %}</a></li>
                    </ul>
                    {% endif %}
                </div>
            </td>
    <% } %>
</script>
<script type="text/javascript" src="{{MEDIA_URL}}js/underscore-min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/backbone-min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/select2.min.js"></script> {# for file private share #}
{% if repo.enc_version == 2 and not server_crypto and repo.encrypted %}
<script type="text/javascript" src="{{MEDIA_URL}}js/repo_crypto.js"></script>
{% else %}
{% upload_js %} {# Todo: improve #}
<script src="{{ MEDIA_URL}}js/jquery.ui.widget.js"></script>
<script src="{{ MEDIA_URL}}js/tmpl.min.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.iframe-transport.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.fileupload.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.fileupload-fp.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.fileupload-ui.js"></script>
<script type="text/javascript">
window.locale = {
    "fileupload": {
        "errors": {
            "maxFileSize": "{% trans "File is too big" %}",
            "minFileSize": "{% trans "File is too small" %}",
            "acceptFileTypes": "{% trans "Filetype not allowed" %}",
            "maxNumberOfFiles": "{% trans "Max number of files exceeded" %}",
            "uploadedBytes": "{% trans "Uploaded bytes exceed file size" %}",
            "emptyResult": "{% trans "Empty file upload result" %}"
        },
        "error": "{% trans "Error" %}",
        "start": "{% trans "Start" %}",
        "cancel": "{% trans "Cancel" %}",
        "destroy": "{% trans "Delete" %}"
    }
};
</script>
{% endif %}
<script type="text/javascript">
// global var
var no_file_op_popup = true;
var popup_tr;

var Dirent = Backbone.Model.extend({
});

var Dirents = Backbone.Collection.extend({
    model: Dirent,
    url: '{% url 'get_lib_dirents' repo.id %}',
    parse: function (data) {
        this.dirent_more = data.dirent_more;
        this.more_start = data.more_start;
        return data.dirent_list; // return the array
    },
    more: function () {
        this.fetch({
            data: {
                'p': this.path,
                'start': this.more_start
            },
            error: function(xhr, textStatus, errorThrown) { // is this interaction ok ?
                $('.loading-tip').hide();
                ajaxErrorHandler(xhr, textStatus, errorThrown);
            }
        });
    }
});
var dirents = new Dirents();

var DirentView = Backbone.View.extend({
    tagName: 'tr',
    className: function () { // just for 'star' style. Todo: improve it?
        return this.model.get('is_dir') ? 'dir-item' : 'file-item';
    },
    template: _.template($('#dirent-template').html()),
    initialize: function() {
        this.listenTo(this.model, "change", this.render);
        this.listenTo(this.model, 'destroy', this.remove);
    },
    render: function () {
        var path = dirents.path;
        if (path != '/') {
            path += '/';
        }
        this.$el.html(this.template({dirent: this.model.attributes, path: path}));
        return this;
    },
    events: {
        'mouseenter': 'highlight',
        'mouseleave': 'rmHighlight',
        'click .dir-link': 'visitDir',
        'click .more-op-icon': 'togglePopup',
        'click .share': 'share'
    },
    highlight: function () {
        if (no_file_op_popup) {
            this.$el.addClass('hl').find('.repo-file-op').removeClass('vh');
        }
    },
    rmHighlight: function () {
        if (no_file_op_popup) {
            this.$el.removeClass('hl').find('.repo-file-op').addClass('vh');
        }
    },
    visitDir: function () {
        // show 'loading'
        this.$('.dirent-icon img').attr({
            'src':'{{MEDIA_URL}}img/loading-icon.gif',
            'alt':''
        });
        // empty all models
        dirents.reset();
        // update url & dirents
        router.navigate(this.model.get('view_link'), {trigger: true});
        return false;
    },
    togglePopup: function () {
        var icon = this.$('.more-op-icon'),
            popup = this.$('.hidden-op');

        if (popup.hasClass('hide')) { // the popup is not shown
            if (icon.position().left + icon.width() + popup.outerWidth() < icon.parent().width()) {
                popup.css({'left': icon.position().left + icon.width() + 5});
                if (icon.offset().top + popup.height() <= $('#main').offset().top + $('#main').height()) {
                    popup.css('top', 6);
                } else {
                    popup.css('bottom', 2);
                }
            } else {
                popup.css({'right':0});
                if (icon.offset().top + popup.height() <= $('#main').offset().top + $('#main').height()) {
                    popup.css('top', icon.position().top + icon.height() + 3);
                } else {
                    popup.css('bottom', icon.position().top + icon.height() + 3);
                }
            }
            popup.removeClass('hide');
            no_file_op_popup = false;
            popup_tr = icon.parents('tr');
        } else {
            popup.addClass('hide');
            no_file_op_popup = true;
            popup_tr = '';
        }
    },
    share: function () {
        var op = this.$('.share'),
            name = this.model.get('obj_name');

        var cur_path = dirents.path;
        var ajax_urls = {
            'link': '{% url 'get_shared_link' %}?repo_id={{ repo.id }}&p=' + e(cur_path) + e(name),
            'upload-link': '{% url 'get_shared_upload_link' %}?repo_id={{ repo.id }}&p=' + e(cur_path) + e(name)
        };

        var type = this.model.get('is_dir') ? 'd' : 'f';
        if (type == 'd') {
            ajax_urls['link'] += '&type=d';
        }

        showSharePopup(op, name, ajax_urls, type, cur_path);
        return false;
    }
});

var LibView = Backbone.View.extend({
    el: $('#repo-file-list'),
    top_template: _.template($('#top-template').html()),
    initialize: function () {
        this.dirent_list = this.$('.repo-file-list');
        this.listenTo(dirents, 'add', this.addOne);
        this.listenTo(dirents, 'reset', this.empty);
    },
    renderTop: function () {
        var path = dirents.path,
            path_list = [];
        if (path != '/') {
            path_list = path.substr(1).split('/');
        }
        $('.repo-file-list-topbar').html(this.top_template({
            path: path,
            path_list: path_list
        }));
    },
    addOne: function (dirent) {
        var view = new DirentView({model: dirent});
        this.dirent_list.append(view.render().el);
        if (dirent === _.last(dirents.models) &&
            !dirents.dirent_more) {
            $('.loading-tip').hide();
        }
    },
    empty: function () {
        $('tr:gt(0)', this.dirent_list).remove();
    },
    events: {
        'click .path-link':'visitDir',
        'click #upload-file':'uploadFile'
    },
    visitDir: function () {
        // show 'loading'
        this.$('.path').append('<img src="{{MEDIA_URL}}img/loading-icon.gif" alt="" class="vam" />');
        // empty all models
        dirents.reset();
        // update url & dirents
        var path_link = event.target || event.srcElement;
        router.navigate(path_link.pathname, {trigger: true}); // 'pathname': relative url
        return false;
    },
    uploadFile: function () {
        {% if repo.enc_version == 2 and not server_crypto and repo.encrypted %}
        {% else %}
        var upload_success = false;
        var uploaded_files = []; // [{'id':'', 'name':'', 'size':''}]
        $('#upload-file-dialog').modal({
            focus:false,
            containerCss: {width:600, height:$(window).height()/1.5},
            onClose: function() {
                $.modal.close();
                if (upload_success) {
                    var file, now = new Date().getTime()/1000, file_size;
                    for (var i = 0, len = uploaded_files.length; i < len; i++) {
                        file =  uploaded_files[i];
                        if (file.size != undefined) {
                            file_size = filesizeformat(file.size, 1);
                        } else { // no 'size' field, for IE
                            file_size = '';
                        }
                        dirents.add({
                            'is_file': true,
                            'obj_name': file.name,
                            'last_modified': now,
                            'file_size': file_size,
                            'obj_id': file.id,
                            'file_icon': 'file.png',
                            'last_update': "{% trans "Just now" %}",
                            'starred': false,
                            'sharelink': '',
                            'sharetoken': ''
                        });
                    }
                }
            }
        });
        $('.simplemodal-wrap').css({'overflow':'auto'}); // for ie

        var form = $('#upload-file-form'),
            parent_dir = $('input[name="parent_dir"]', form);
        parent_dir.val(dirents.path);
        $.ajax({
            url: '{% url 'get_file_op_url' repo.id %}?op_type=upload',
            cache: false,
            dataType: 'json',
            success: function(data) {
                form.attr('action', data['url']);
                // Initialize the jQuery File Upload widget, which needs to use form action
                form.fileupload({
                    //singleFileUploads: false // using 1 request to upload all files of a selection
                    sequentialUploads: true
                })
                .bind('fileuploaddone', function(e, data) {
                    if (data.textStatus == 'success') {
                        upload_success = true;
                        uploaded_files.push(data.result[0]);
                    }
                });

                // Enable iframe cross-domain access via redirect option:
                form.fileupload(
                    'option',
                    'redirect',
                    window.location.href.replace(/\/repo\/[-a-z0-9]{36}\/.*/, '/media/cors/result.html?%s')
                );
            },
            error: ajaxErrorHandler
        });

        {% endif %}
    }
});
var libView = new LibView();

var LibRouter = Backbone.Router.extend({
    routes: {
        'lib/{{repo.id}}/contents/(*path)': 'get_dirents'
    },
    get_dirents: function(path) {
        if (!path) {
            path = '/';
        } else {
            path = '/' + path.substr(0, path.length - 1);
        }
        dirents.path = path;
        libView.renderTop();
        dirents.fetch({
            data: {'p': path},
            success: function (collection, response, opts) {
                // the dir is empty
                if (response.dirent_list.length == 0) {
                    $('.loading-tip').hide();
                }
            }
        });
    }
});
var router = new LibRouter();
Backbone.history.start({
    pushState: true,
    root: '{{SITE_ROOT}}'
});

var last_start = 0; // to stop repeated request
$(window).scroll(function() {
    // scroll to the bottom, trigger 'request more'
    var start = dirents.more_start;
    if (dirents.dirent_more && $(window).scrollTop() + $(window).height() > $(document).height() - parseInt($('#repo-file-list').css('margin-bottom')) && start != last_start) {
        last_start = start;
        dirents.more();
    }
});

// hide 'hidden-op' popup
$(document).click(function(e) {
    var target =  e.target || event.srcElement;
    if (!no_file_op_popup &&
        !$('.more-op-icon, .hidden-op').is(target) &&
        !$('.hidden-op').find('*').is(target)) {
        $('.hidden-op').addClass('hide');
        no_file_op_popup = true;
        if (!popup_tr.find('*').is(target)) {
            popup_tr.removeClass('hl').find('.repo-file-op').addClass('vh'); // clicked place: the first tr, place out of the table
            $('tr:gt(0)').each(function() { // when other tr is clicked
                if ($(this).find('*').is(target)) {
                    $(this).addClass('hl').find('.repo-file-op').removeClass('vh');
                }
            });
        }
    }
});

// for 'share'. Todo: improve code
{% include "snippets/shared_link_js.html" %}
</script>
{% endblock %}
