{% extends "myhome_base.html" %}

{% load seahub_tags avatar_tags i18n upload_tags %}

{% block sub_title %}{{repo.name}} - {% endblock %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/select2.css?t=1393578720" />
<style type="text/css">
#footer { display:none; }
{% if repo.encrypted and repo.enc_version == 2 and not server_crypto %}
#main { display:none; }
{% endif %}
</style>    
<!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
<!--[if lt IE 9]><script src="{{ MEDIA_URL}}js/html5shiv.js"></script><![endif]-->
{% endblock %}

{% block main_panel %}
    <div id="repo-top">
        <h2 class="hd">{{repo.props.name}}{% if user_perm == 'r' %} <span class="tip vam">({% trans "Read-Only" %})</span>{% endif %}</h2>
            <div id="repo-basic-info">
                <span class="desc" title="{{repo.props.desc}}">{{ repo.props.desc|truncatechars:25 }}</span>
                <span class="size split">{% trans 'Size: ' %}{{ repo_size|filesizeformat }}</span>
                {% if show_repo_download_button or show_repo_settings or user_perm == 'rw' %}
                <span class="split">
                    {% if show_repo_download_button %}
                    <a href="{{ SITE_ROOT }}seafile_access_check/?repo_id={{repo.props.id}}" target="_blank">{% trans "Download" %}</a>
                    {% endif %}
                    {% if show_repo_settings %}
                    <a id="repo-setting-btn" href="{% url 'repo_settings' repo.id %}" class="normal"><img class="link-icon vam" src="{{ MEDIA_URL }}img/setting.png" alt="" /><span class="vam">{% trans "Settings" %}</span></a>
                    {% endif %}
                    {% if user_perm == 'rw' %}
                    <a id="recycle-btn" href="{% url 'repo_recycle_view' repo.id %}" class="normal"><img class="link-icon vam" src="{{ MEDIA_URL }}img/lib_trash.png" alt="" /><span class="vam">{% trans "Trash"%}</span></a>
                    {% endif %}
                </span>
                {% endif %}
            </div>
    </div>

    {% if repo.enc_version == 2 and not server_crypto and repo.encrypted %}
    <div id="repo-file-list"></div>
    {% else %}
    <div id="repo-file-list">
        {#% include 'snippets/repo_dir_data.html' %#}
        <div class="repo-file-list-topbar ovhd">
            <p class="path fleft">
            {% for name, link in zipped %}
            {% if forloop.first or not forloop.last %}
            <a href="{{ SITE_ROOT }}repo/{{ repo.id }}/?p={{ link|urlencode }}" class="dir-link normal">{{ name }}</a> /    
            {% else %}
            <span id="cur-dir-name">{{ name }}</span> /
            {% endif %}
            {% endfor %}
            </p>
            <div class="repo-op fright">
                {% if user_perm == 'rw' %}
                <button id="upload-file" class="op-btn"><span class="icon-upload-alt"></span>{% trans "Upload"%}</button>
                <button id="add-new-dir" class="op-btn"><span class="icon-plus-sign-alt"></span>{% trans "New Directory"%}</button>
                {% if repo.encrypted and repo.enc_version == 2 and not server_crypto %}
                {% else %}
                <button id="add-new-file" class="op-btn"><span class="icon-plus-sign-alt"></span>{% trans "New File"%}</button>
                {% endif %}
                {% endif %}

                {% if path != '/' %}
                {% if not repo.encrypted %}
                <button data-url="{% url 'get_shared_link' %}?repo_id={{ repo.id }}&p={{ path|urlencode }}&type=d" data-link="{{ dir_shared_link }}" data-token="{{fileshare.token}}" data-upload-url="{% url 'get_shared_upload_link' %}?repo_id={{ repo.id }}&p={{ path|urlencode }}" data-upload-link="{{ dir_shared_upload_link }}" data-upload-token="{{ uploadlink.token }}" class="op-btn" id="share-cur-dir"><span class="sf-icon-share"></span>{% trans "Share"%}</button>
                {% endif %}
                {% endif %}
            </div>
            <div id="repo-latest-commit" class="clear">
                {% include 'snippets/current_commit.html' %}
            </div>
        </div>
        <table class="repo-file-list">
            <tr>
                <th class="select">
                    <span class="checkbox"><input type="checkbox" class="checkbox-orig" /></span>
                </th>
                <th class="star"></th>
                <th class="dirent-icon"></th>
                <th><span class="dirent-name">{% trans "Name"%} <span id="name-down" class="icon-caret-up cspt"></span> <span id="name-up" class="icon-caret-down cspt hide"></span></span></th>
                <th class="dirent-size">{% trans "Size"%}</th>
                <th class="dirent-update">{% trans "Last Update" %} <span id="time-up" class="icon-caret-up cspt hide"></span> <span id="time-down" class="icon-caret-down cspt"></span></th>
                <th class="dirent-op">{% trans "Operations"%}</th>
            </tr>
            {#% include 'snippets/repo_dirents.html' %#}
        </table>
        <img class="loading-tip" src="{{MEDIA_URL}}img/loading-icon.gif" alt="{% trans 'Loading...' %}" />
    </div>
    {% endif %}

    {# popups starts #}
    {% include "snippets/file_share_popup.html" %} {# dir/file share popup #}

    {% if repo.enc_version == 2 and not server_crypto and repo.encrypted %}
    <form id="repo-decrypt-form" class="wide-panel hide">
        <p>{% trans "This library is encrypted. Please input the password if you want to browse it online. And the password will be kept in the browser for only 1 hour." %}</p>
        <label>{% trans "Password: " %}</label>
        <input type="password" name="password" autofocus />
        <input type="submit" value="{% trans "Submit" %}" />
        <p class="error hide"></p>
        {% url 'edit_profile' as profile_edit_url %}
        <p class="tip" style="margin-top:3em;">{% blocktrans %}You can change how to view encrypted libraries online <a class="normal" href="{{ profile_edit_url }}#enc-lib-setting">here</a>.{% endblocktrans %}</p>
    </form>
{% endif %}

{% endblock %}

{% block extra_script %}
<script type="text/template" id="dirent-template">
    <% if (dirent.is_dir) { %>
            <td class="select">
                <span class="checkbox"><input type="checkbox" class="checkbox-orig" /></span>
            </td>
            <td class="star"></td>
            <td class="dirent-icon"><img src="{{ MEDIA_URL }}img/folder-icon-24.png" alt="{% trans "Directory icon" %}" /></td>
            <td>
                <span class="dirent-name"><a href="<%= dirent.view_link %>" class="dir-link"><%= dirent.obj_name %></a></span>
            </td>
            <td class="dirent-size"></td>
            <td class="dirent-update">
                <% if (dirent.last_modified) { %>
                    <% print(dirent.last_update); %>
                    <% } else { %>
                    <% print("{% trans "Fetch failed" %}"); %>
                    <% } %>
            </td>
            <td class="dirent-op">
                <div class="repo-file-op vh">
                    <div class="displayed-op">
                        <a class="op dir-download" href="<%= dirent.dl_link %>">{% trans "Download" %}</a>
                        {% if not repo.encrypted %}
                        <a class="op share" href="#" data-link="<%= dirent.sharelink %>" data-token="<%= dirent.sharetoken %>" data-upload-link="<%= dirent.uploadlink %>" data-upload-token="<%= dirent.uploadtoken %>">{% trans "Share" %}</a>
                        {% endif %}
                    </div>
                    {% if user_perm == 'rw' %}
                    <img src="{{ MEDIA_URL }}img/dropdown-arrow.png" title="{% trans "More operations" %}" alt="{% trans "More operations" %}" class="more-op-icon cspt" />
                    <ul class="hidden-op hide">
                        <li><a class="op dir-del" href="#">{% trans "Delete" %}</a></li>
                        <li><a class="op dir-rename" href="#">{% trans "Rename" %}</a></li>
                        <li><a class="op dir-mv" href="#">{% trans "Move" %}</a></li>
                        <li><a class="op dir-cp" href="#">{% trans "Copy" %}</a></li>
                    </ul>
                    {% endif %}
                </div>
            </td>
    <% } else { %>
            <td class="select">
                <span class="checkbox"><input type="checkbox" class="checkbox-orig" /></span>
            </td>
            <td class="star alc">
                <% if (dirent.starred) { %>
                    <span title="{% trans "starred" %}" class="icon-star file-star" data-status="starred"></span>
                    <% } else { %>
                    <span title="{% trans "unstarred" %}" class="icon-star-empty file-star" data-status="unstarred"></span>
                    <% } %>
            </td>
            <td class="dirent-icon"><img src="{{ MEDIA_URL }}img/file/<%= dirent.file_icon %>" alt="{% trans "File" %}" /></td>
            <td>
                {% if repo.encrypted and repo.enc_version == 2 and not server_crypto %}
                <span class="dirent-name"><%= dirent.obj_name %></span>
                {% else %}
                <span class="dirent-name"><a class="normal" href="<%= dirent.view_link %>" target="_blank"><%= dirent.obj_name %></a></span>
                {% endif %}
            </td>
            <td class="dirent-size"><%= dirent.file_size %></td>
            <td class="dirent-update">
                <% if (dirent.last_modified) { %>
                    <% print(dirent.last_update); %>
                    <% } else { %>
                    <% print("{% trans "Fetch failed" %}"); %>
                    <% } %>
            </td>
            <td class="dirent-op">
                <div class="repo-file-op vh">
                    <div class="displayed-op">
                        <a class="op file-download" href="<%= dirent.dl_link %>" data-fileid="<%= dirent.obj_id %>">{% trans "Download" %}</a>
                        {% if user_perm == 'rw' %}
                        <a class="op file-update" href="#">{% trans "Update"%}</a>
                        {% endif %}

                        {% if not repo.encrypted %}
                        <a class="op share" href="#" data-link="<%= dirent.sharelink %>" data-token="<%= dirent.sharetoken %>">{% trans "Share" %}</a>
                        {% endif %}
                    </div>
                    {% if user_perm == 'rw' %}
                    <img src="{{ MEDIA_URL }}img/dropdown-arrow.png" title="{% trans "More Operations"%}" alt="{% trans "More Operations"%}" class="more-op-icon cspt" />
                    <ul class="hidden-op hide">
                        <li><a class="op file-del" href="#">{% trans "Delete" %}</a></li>
                        <li><a class="op file-rename" href="#">{% trans "Rename" %}</a></li>
                        <li><a class="op file-mv" href="#">{% trans "Move" %}</a></li>
                        <li><a class="op file-cp" href="#">{% trans "Copy" %}</a></li>
                        <li><a class="op file-history" href="<%= dirent.history_link %>" target="_blank">{% trans "History" %}</a></li>
                    </ul>
                    {% endif %}
                </div>
            </td>
    <% } %>
</script>
<script type="text/javascript" src="{{MEDIA_URL}}js/underscore-min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/backbone-min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/select2.min.js"></script> {# for file private share #}
<script type="text/javascript">
// global var
var no_file_op_popup = true;
var popup_tr;

var Dirent = Backbone.Model.extend({
    //idAttribute: 'obj_name'
});

var Dirents = Backbone.Collection.extend({
    model: Dirent,
    url: '{% url 'get_lib_dirents' repo.id %}',
    parse: function (data) {
        this.dirent_more = data.dirent_more;
        this.more_start = data.more_start;
        return data.dirent_list; // return the array
    },
    more: function () {
        this.fetch({
            data: {'start': this.more_start},
            error: function(xhr, textStatus, errorThrown) { // is this interaction ok ?
                $('.loading-tip').hide();
                ajaxErrorHandler(xhr, textStatus, errorThrown);
            }
        });
    }
});
var dirents = new Dirents();

var DirentView = Backbone.View.extend({
    tagName: 'tr',
    className: function () { // just for 'star' style. Todo: improve it?
        return this.model.get('is_dir') ? 'dir-item' : 'file-item';
    },
    template: _.template($('#dirent-template').html()),
    initialize: function() {
        this.listenTo(this.model, "change", this.render);
        this.listenTo(this.model, 'destroy', this.remove);
    },
    render: function () {
        this.$el.html(this.template({dirent: this.model.attributes}));
        return this;
    },
    events: {
        'mouseenter': 'highlight',
        'mouseleave': 'rmHighlight',
        'click .more-op-icon': 'togglePopup',
        'click .share': 'share'
    },
    highlight: function () {
        if (no_file_op_popup) {
            this.$el.addClass('hl').find('.repo-file-op').removeClass('vh');
        }
    },
    rmHighlight: function () {
        if (no_file_op_popup) {
            this.$el.removeClass('hl').find('.repo-file-op').addClass('vh');
        }
    },
    togglePopup: function () {
        var icon = this.$('.more-op-icon'),
            popup = this.$('.hidden-op');

        if (popup.hasClass('hide')) { // the popup is not shown
            if (icon.position().left + icon.width() + popup.outerWidth() < icon.parent().width()) {
                popup.css({'left': icon.position().left + icon.width() + 5});
                if (icon.offset().top + popup.height() <= $('#main').offset().top + $('#main').height()) {
                    popup.css('top', 6);
                } else {
                    popup.css('bottom', 2);
                }
            } else {
                popup.css({'right':0});
                if (icon.offset().top + popup.height() <= $('#main').offset().top + $('#main').height()) {
                    popup.css('top', icon.position().top + icon.height() + 3);
                } else {
                    popup.css('bottom', icon.position().top + icon.height() + 3);
                }
            }
            popup.removeClass('hide');
            no_file_op_popup = false;
            popup_tr = icon.parents('tr');
        } else {
            popup.addClass('hide');
            no_file_op_popup = true;
            popup_tr = '';
        }
    },
    share: function () {
        var op = this.$('.share'),
            name = this.model.get('obj_name');

        var cur_path = "{{ path|safe }}"; {# safe is for ''', '&' included in path #} // Todo ??
        var aj_urls = {
            'link': '{% url 'get_shared_link' %}?repo_id={{ repo.id }}&p=' + e(cur_path) + e(name),
            'upload-link': '{% url 'get_shared_upload_link' %}?repo_id={{ repo.id }}&p=' + e(cur_path) + e(name)
        };

        var type = this.model.get('is_dir') ? 'd' : 'f';
        if (type == 'd') {
            aj_urls['link'] += '&type=d';
        }

        showSharePopup(op, name, aj_urls, type, cur_path);
        return false;
    }
    // add events here
});

var DirentsView = Backbone.View.extend({
    initialize: function () {
        this.listenTo(dirents, 'add', this.addOne);
        dirents.fetch();
    },
    render: function () {
    },
    addOne: function (dirent) {
        var view = new DirentView({model: dirent});
        $('.repo-file-list').append(view.render().el);
        if (dirent === _.last(dirents.models) &&
            !dirents.dirent_more) {
            $('.loading-tip').hide();
        }
    }
});

var app = new DirentsView();

var LibRouter = Backbone.Router.extend({
});
//Backbone.history.start({pushState: true});

var last_start = 0; // to stop repeated request
$(window).scroll(function() {
    // scroll to the bottom, trigger 'request more'
    var start = dirents.more_start;
    if (dirents.dirent_more && $(window).scrollTop() + $(window).height() > $(document).height() - parseInt($('#repo-file-list').css('margin-bottom')) && start != last_start) {
        last_start = start;
        dirents.more();
    }
});

// hide 'hidden-op' popup
$(document).click(function(e) {
    var target =  e.target || event.srcElement;
    if (!no_file_op_popup &&
        !$('.more-op-icon, .hidden-op').is(target) &&
        !$('.hidden-op').find('*').is(target)) {
        $('.hidden-op').addClass('hide');
        no_file_op_popup = true;
        if (!popup_tr.find('*').is(target)) {
            popup_tr.removeClass('hl').find('.repo-file-op').addClass('vh'); // clicked place: the first tr, place out of the table
            $('tr:gt(0)').each(function() { // when other tr is clicked
                if ($(this).find('*').is(target)) {
                    $(this).addClass('hl').find('.repo-file-op').removeClass('vh');
                }
            });
        }
    }
});

// for 'share'. Todo: improve code
{% include "snippets/shared_link_js.html" %}
</script>
{% endblock %}
